body {
  font-size: 16px;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}
* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 15px;
}
.navbar-brand h1 { /* Food LLC */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: .75;
}

.navbar-brand p span {  
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* HOME PAGE */

h2 { /* Our menu */
  font-family: 'Lora', serif;
  color: navajowhite;
  font-size: 1.3em;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

#menu-tile {
  height: 1000px;
  width: 90%;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-color: wheat;
}

#menu-tile span {
  position: absolute;
  top: 5px;
  right: 0px;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  font-family: 'Oxygen', sans-serif;
  color: red;
  opacity: .8;
}

 p{
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 0px;
    padding-bottom: 20px;
    float: left;
}   
/* END HOME PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {
    
}
    
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    
  }


/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 40px;
  } 
  .navbar-brand h1 { /* Food LLC */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  #menu-tile {
    width: 450px;
    margin: 0 auto 15px;
  }
  
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.1em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  /* End Header */

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Food LLC */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #menu-tile {
    width: 350px;
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}
